@import "normalize";

// variables

$mainColor: lighten(#227888, 22%);
$mainDarker: lighten(#176E7C, 22%);
$mainLighter: lighten(#5290A0, 22%);
$alt1: lighten(#3D8797, 22%);
$alt2: lighten(#3D8797, 22%);

html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans';
}

* {
	box-sizing: border-box;
}

.flexCont{
	display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
	flex-direction: column;
}
.chatCont{
	height: 100%;
	width: 100%;
	align-self: flex-end;
}

.chatWindow{
	background: $mainColor;
	position:relative;
	width: 100%;
	height: 300px;
}
.textCont{
	position:absolute;
	bottom:0;
	right:0;
	left:0;
}
.wrtBar{
	width: 100%;
	font-size: 18px;
	position: relative;
	background-color: $mainLighter;
	button {
		width: 10%;
		height: 100%;
		background: $alt1;
		border: none;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
			&:focus{
				outline: none;
			}
			&:hover{
				cursor: pointer;
				background: lighten($alt1, 10%);

			}
		}
	input{
		background: rgba(255,255,255,0.5);
		width: 100%;
		height: 100%;
		margin: 0;
		border:0 solid;
		&:focus{
			outline: none;
		}
	}
}


.tch{
	text-align: right;
}
.std{
	text-align: left ;
}

.learnerInfos{
	display: none;
}
